/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&family=Yellowtail&display=swap');

/* Defaults */
:root {
    --primary-color: #3b1c15;
    --secondary-color: #803d29;
    --accent-color: #ec3553;
    --light-color: #e8bd9a;
    --text-color: #f1e8e6;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Yaldevi', sans-serif;
    line-height: 1.5;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

a {
	text-decoration: none;
	cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--light-color);
}

ul {
	list-style: none;
}

img,
picture,
video,
canvas,
svg {
	max-height: 100%;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
    outline: none;
    border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Navbar */
nav {
    width: 100%;
    height: 80px;
    background-color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbar .logo {
    width: 80px;
}

.navbar .title {
    font-family: 'Yellowtail', sans-serif;
    color: var(--primary-color);
    font-size: 1.7rem;
}

.navbar #sidebar-toggle {
    width: 60px;
    height: 60px;
}

.navbar #sidebar-toggle .fa {
    position: relative;
    top: 5%;
    left: 10%;
    cursor: pointer;
    color: var(--primary-color);
}

/* Sidebar */
#sidebar {
    position: absolute;
    width: 10rem;
    height: fit-content;
    margin-right: 1rem;
    margin-top: 10px;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    right: -11rem;
    padding: 0 10px;
    background-color: var(--light-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: right 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#sidebar .page-links ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

#sidebar .page-links ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#sidebar .page-links ul li a {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-family: 'Yellowtail', sans-serif;
    transition: text-decoration 0.25s ease-out;
}

#sidebar .page-links ul li a:hover {
    text-decoration: wavy underline var(--accent-color) 1px;
}

#sidebar .page-links ul li .page-img {
    width: 1.5rem;
    height: 1.5rem;
}

/* Utility Classes */
.btn {
    display: inline-block;
    text-align: center;
    font-size: 1.3rem;
    height: 2rem;
    padding: 0 10px;
    border-radius: 3px;
    margin: 3px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    cursor: pointer;
}

.btn:hover {
    color: var(--text-color);
}

.h-sep {
    position: relative;
    height: 2px;
    width: 85%;
    background-color: var(--light-color);
}

.v-sep {
    position: relative;
    height: 85%;
    width: 2px;
    background-color: var(--light-color);
}

/* Footer */
.footer {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    background-color: var(--text-color);
    color: var(--primary-color);
    margin-top: 2rem;
}

.footer a {
    color: var(--primary-color);
}

.footer a:hover {
    color: var(--secondary-color);
}

.footer .footer-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer .footer-head .footer-logo {
    height: 100px;
    border-radius: 3px;
}

.footer .footer-head .footer-logo img {
    border-radius: 3px;
}

.footer .footer-head .footer-title {
    width: 225px;
}

.footer .footer-head .footer-title h1 {
    font-family: 'Yellowtail', sans-serif;
}

.footer .footer-head .footer-title p {
    font-size: 10px;
}

.footer .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.footer .footer-links .footer-nav, .footer .footer-links .order-links, .footer .footer-links .social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.footer .footer-links .order-links img {
    width: 1.5rem;
    height: 1.5rem;
}